header{
	overflow: hidden;
}

#tsparticles{
	background-color: #1f1f1f;
	height: 100vh;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	.welcome-text{
		z-index: 2;
		color: white;
		text-align: center;
		position: absolute;

		h1,p{
			opacity: 1;
			transition: all 1s ease-out;
		}
		h1{
			font-size: 60px;
		}
		p{
			margin-top: 15px;
			font-size: 25px;
		}
		.loading{
			opacity: 0;
		}
	}
}

#down{
	position: absolute;
	bottom: 5%;
	font-size: 2.5em;
	padding: 5px 20px;
	border-radius: 50%;
	color: white;
	transition: all 0.5s ease-out;
	z-index: 21;

	&:hover{
		cursor: pointer;
		background-color: white;
		opacity: 0.8;
		color: black;
	}
}

@media screen and (max-width: 800px){
	#down{
		bottom: 10%;
	}
}